<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuração Wi-Fi</title>
</head>
<body>
    <h1>Configuração Wi-Fi</h1>
    <form action="/connect" method="POST">
        <label for="ssid">SSID:</label>
        <input type="text" name="ssid" id="ssid" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>
        <input type="submit" value="Conectar">
    </form>
    <br>
    <a href="/lidar">Visualizar LIDAR Samuel</a>
</body>
</html>

